<div class="container">
    <h2>Sign up</h2>
    <a class="btn btn-light" [routerLink]="['/']"><span class="oi oi-lock-unlocked"></span> login </a>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="form-group">
                    <label for="signUpName">Name</label>
                    <input type="email" class="form-control" id="signUpName" 
                    aria-describedby="nameHelp" [formControl]="signUpName">
                    <small id="nameHelp" class="form-text text-muted">Please mention your full name</small>
                </div>
                <div class="form-group">
                    <label for="signUpEmail">Email address</label>
                    <input type="email" class="form-control" id="signUpEmail" 
                    aria-describedby="emailHelp" [formControl]="signUpEmail">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="form-group">
                    <label for="signUpPassword">Password</label>
                    <input type="password" class="form-control" id="signUpPassword"
                    [formControl]="signUpPassword">
                </div>

                <div class="form-group">
                    <label for="signUpRePassword">Re-enter Password</label>
                    <input type="password" class="form-control" id="signUpRePassword"
                    [formControl]="signUpRePassword">
                </div>

                <button type="submit" class="btn btn-dark"><span class="oi oi-check"></span> Submit</button>
            </form>
        </div>
    </div>
</div>