<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="d-inline mr-4">Events</h2>
            <div class="d-inline p-2">
                <button [ngClass]="showMyEventsBlock ? 'btn btn-dark mr-2 p-2' : 'btn btn-light mr-2 p-2'" type="button" (click)="getAllMyEvents() ">
                    <span class="oi oi-list"></span> My Events 
                </button>
                <button [ngClass]="showNotificatioBlock ? 'btn btn-dark mr-2 p-2' : 'btn btn-light mr-2 p-2'" type="button" (click)="getAllMyNotification()">
                    <span class="oi oi-bell"></span> Notification <span class="badge badge-light">{{allMyNotification.length}}</span>
                </button>
                <button [ngClass]="showAddEventForm ? 'btn btn-dark mr-2 p-2' : 'btn btn-light mr-2 p-2'" type="button" (click)="showAddEventForm = !showAddEventForm ">
                    <span class="oi oi-plus"></span> Create
                </button>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="!showNotificatioBlock && !showMyEventsBlock">
        <div
            [ngClass]="showAddEventForm ? 'col-md-7 col-sm-12 mt-3 mr-2 table-responsive' : 'col-12 mt-3 mr-2 table-responsive'">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Event Owner</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="allEvents.length > 0">
                    <tr *ngFor='let event of allEvents; trackBy: index;'>
                        <td>{{event.event_title}}</td>
                        <td>{{event.owner_name}}</td>
                        <td>{{event.startdatetime}}</td>
                        <td>{{event.enddatetime}}</td>
                        <td>{{event.startdatetime}}</td>
                        <td>{{event.enddatetime}}</td>
                        <td>
                            <a class="btn btn-light mr-2" [routerLink]="['/event',event.id]"> <span
                                    class="oi oi-eye"></span> </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="allEvents.length== 0">
                   <tr>
                       <td colspan="6">No events found</td>
                   </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 ml-5" *ngIf="showAddEventForm">
            <h2>New Event</h2>
            <div class="row mt-3">
                <div class="col-12">
                    <form [formGroup]="addNewEventForm" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-12 mb-2">
                                <label for="eventName"> Event Name: </label>
                                <input type="text" id="eventName" class="form-control" placeholder="Required event name"
                                    required [formControl]="eventName">
                            </div>
                            <div class="col-12 mb-2">
                                <label for="eventDescription"> Event Description: </label>
                                <textarea class="form-control" id="eventDescription"
                                    placeholder="Required event description" required
                                    [formControl]="eventDescription"></textarea>
                            </div>

                            <div class="col-12">
                                <label for="eventStartdate">Start Date and time</label>
                                <dl-date-time-picker id="eventStartdate" startView="day" maxView="year" minView="hour"
                                    minuteStep="5" [formControl]="eventStartdate">
                                </dl-date-time-picker>
                            </div>
                            <div class="col-12">
                                <label for="eventEnddate">End Date and time</label>
                                <dl-date-time-picker id="eventEnddate" startView="day" maxView="year" minView="hour"
                                    minuteStep="5" [formControl]="eventEnddate">
                                </dl-date-time-picker>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-light mr-2" title="save" type="submit"><span class="oi oi-check"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showMyEventsBlock">
        <div
            [ngClass]="showAddEventForm ? 'col-md-7 col-sm-12 mt-3 mr-2 table-responsive' : 'col-12 mt-3 mr-2 table-responsive'">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Event Owner</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="allMyEvents.length > 0">
                    <tr *ngFor='let event of allMyEvents; trackBy: index;'>
                        <td>{{event.event_title}}</td>
                        <td>{{event.owner_name}}</td>
                        <td>{{event.startdatetime}}</td>
                        <td>{{event.enddatetime}}</td>
                        <td>{{event.startdatetime}}</td>
                        <td>{{event.enddatetime}}</td>
                        <td>
                            <a class="btn btn-light mr-2" [routerLink]="['/event',event.id]"> <span
                                    class="oi oi-eye"></span> </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="allMyEvents.length== 0">
                    <tr>
                        <td colspan="6">No events found</td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="showNotificatioBlock">
        <div
            [ngClass]="showAddEventForm ? 'col-md-7 col-sm-12 mt-3 mr-2 table-responsive' : 'col-12 mt-3 mr-2 table-responsive'">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Notificaction time</th>
                        <th scope="col">Notification Message</th>
                    </tr>
                </thead>
                <tbody *ngIf="allMyNotification.length > 0">
                    <tr *ngFor='let notification of allMyNotification; trackBy: index;'>
                        <td>{{notification.created_at}}</td>
                        <td>{{notification.notification_msg}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="allMyNotification.length== 0">
                    <tr>
                        <td colspan="1">No Notificaction found</td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>