<div class="container">
    <h2>Login</h2>
    
    <a class="btn btn-light" [routerLink]="['/register']"><span class="oi oi-lock-locked"></span> New User? Sign up </a>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  <label for="loginEmail">Email address</label>
                  <input type="email" class="form-control" id="loginEmail" 
                  aria-describedby="emailHelp" [formControl]="loginEmail">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="loginPassword">Password</label>
                  <input type="password" class="form-control" id="loginPassword" [formControl]="loginPassword">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="loginRememberMe" [formControl]="loginRememberMe" [(ngModel)]="isChecked" (change)="checkValue(isChecked? true:false)">
                  <label class="form-check-label" for="loginPassword">Check me out</label>
                </div>
                <button type="submit" class="btn btn-dark"><span class="oi oi-account-login"></span> Login</button>
              </form>
        </div>
    </div>
</div>