<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>{{appTitle}}</h1>
            </div>
            <div class="col-sm-12 col-md-3">

            </div>
            <div class="col-sm-12 col-md-3 text-right">
                <button *ngIf="showLoggedOut" class="btn btn-dark align-middle mt-3" (click)="userLogout()"><span class="oi oi-account-logout"></span></button>
            </div>
        </div>
    </div>
</header>
