<div class="container-fluid">
    <div class="row mt-3 mt-4">
        <div class="col-12">
            <a class="btn btn-light mb-2" [routerLink]="['/events']"> <span class="oi oi-chevron-left"></span> Back </a>
            <div class="d-inline p-2" *ngIf=" eventPartcipants.length == 0 && currentUser !== eventDetails['owner_id']">
                <button class="btn btn-light mr-2" title="Like" (click)="likeEvent()" > <span class="oi oi-thumb-up"></span> </button>
                <button class="btn btn-light mr-2" title="Dislike" (click)="dislikeEvent()" > <span class="oi oi-thumb-down"></span> </button>
                <button class="btn btn-light mr-2" title="Join" (click)="joinEvent()" > <span class="oi oi-check"></span> Join</button>     
            </div>
            <div class="d-inline p-2" *ngIf=" eventPartcipants.length > 0 && currentUser !== eventDetails['owner_id']">
                <button class="btn btn-light mr-2" (click)="likeEvent()" *ngIf="currentUser !== eventDetails['owner_id'] && currentUserEvent['user_like'] == 0"> <span class="oi oi-thumb-up"></span>  </button>
                <button class="btn btn-light mr-2" (click)="dislikeEvent()" *ngIf="currentUser !== eventDetails['owner_id'] && currentUserEvent['user_dislike'] == 0"> <span class="oi oi-thumb-down"></span> </button>
                <button class="btn btn-light mr-2" (click)="joinEvent()" *ngIf="currentUser !== eventDetails['owner_id'] && currentUserEvent['user_joined'] == 0"><span class="oi oi-check"> Join</span> </button> 
                <button class="btn btn-light mr-2" (click)="leaveEvent()" *ngIf="currentUser !== eventDetails['owner_id'] && currentUserEvent['user_joined'] == 1"><span class="oi oi-x"></span> Leave</button>    
            </div>
            <div class="d-inline p-2" *ngIf="currentUser === eventDetails['owner_id']">
                <button class="btn btn-light mr-2" (click)="removeEntireEvent()" > <span class="oi oi-x"></span> Remove Event </button>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col-12">
            <div class="d-block">
                <h2> {{eventDetails['event_title']}} </h2>
            </div>
            <div class="d-block">
                <span class="font-20" *ngIf="currentUser !== eventDetails['owner_id']">Created by: {{eventDetails['owner_name']}}</span>
                <span class="font-20" *ngIf="currentUser === eventDetails['owner_id']">Created by: You</span>
            </div>             
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
        <div class="col-12">
            <p>{{eventDetails['description']}}</p> 
        </div>
    </div>
    <!-- For Owners --> 
    <div class="row" *ngIf="currentUser === eventDetails['owner_id']">
        <div class="col-12">
            <h2>Participants</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email address</th>
                        <th scope="col">Joined?</th>
                        <th scope="col">Liked?</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="eventPartcipants.length>0">
                    <tr *ngFor='let participant of eventPartcipants; trackBy: index;'>
                        <td>{{participant.user_name}}</td>
                        <td>{{participant.user_email}}</td>
                        <td>
                            <span *ngIf='participant.user_joined==1'> yes </span>
                            <span *ngIf='participant.user_joined==0'> no </span>
                        </td>
                        <td>
                            <span *ngIf='participant.user_like==1'> yes </span>
                            <span *ngIf='participant.user_like==0'> no </span>
                        </td>
                        <td>
                            <button class="btn btn-light mr-2" (click)="removeParticipant(participant.user_id)"> <span class="oi oi-x"></span> </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="eventPartcipants.length==0">
                  <tr>
                      <td colspan="5">No data till now</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
